<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Campatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="style.css" rel="stylesheet">
	<title>Lindas Beatle Quiz</title>
</head>
<body>
	<div class="jumbotron">
		<h1 class="topheader">John Lennon</h1>
		<blockquote>
		<p>“The time you enjoy wasting is not wasted time.”</p>
		</blockquote>
	</div>
	<div class="container">
<p>Här får du en massa frågor om John, den mystiske beatlen.</p>
<button type="button" class="btn btn-primary">Starta quizet</button>
	</div>
</div>



</body>
</html>
