<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Campatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="style.css" rel="stylesheet">
	<title>Lindas Beatle Quiz</title>
</head>
<body>
	<div class="jumbotron">
		<h1 class="topheader">Beatlemania</h1>
		<p>Hur väl känner du dina skalbaggar? Här är ett quiz som sätter dina Beatle-kunskaper på prov!</p>
	</div>
	<div class="container">
<div class="alert alert-info" role="alert">
	<p>Välj vilken medlem du vill få frågor om.</p>
</div>

		<div class="row">
			<div class="col-md-3 column1"><img class="beatlecirkel" src="img/john.jpg"></div>
			<div class="col-md-3 column2"><img class="beatlecirkel" src="img/paul.jpg"></div>
			<div class="col-md-3 column3"><img class="beatlecirkel" src="img/george.jpg"></div>
			<div class="col-md-3 column4"><img class="beatlecirkel" src="img/ringo.jpg"></div>
			</p>
		</div>
	</div>
</div>



</body>
</html>
